<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>

    <main>
        <form class="product-form" action="/add-item" method="POST">
            <div class="form-control">
                <label for="itemname">Title</label>
                <input type="text" name="itemname" id="itemname">
                <label for="description">Description</label>
                <input type="text" name="description" id="description">
            </div>

            <button class="btn" type="submit">Add to list</button>
        </form>
    </main>
</body>

</html>