<%- include('includes/head.ejs') %>
</head>
<body>
    <main>
        <div class="login-block">
        <h2>Create an account</h2>
        
            <form class="login-form" action="/api/v1/signup" method="POST">
                <div class="login-form-control">
                    <label for="name">Name</label><br>
                    <input id="name" type="text" name="name"><br>
                    <label for="email">Email</label><br>
                    <input id="email" type="text" name="email"><br>
                    <label for="pwd">Password</label><br>
                    <input id="pwd" type="password" name="pwd"><br>
                    <label for="passver">Confirm Password</label><br>
                    <input id="passver" type="password" name="passver"><br>
                    <button type="submit">Create Account</button>
                </div>
            </form>
            
        </div>


<!-- Page scripts -->   


</body>
</html>
