@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #9acdc7;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__button {
  font: inherit;
  border: none;
  color: white;
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__greeting {
  margin: 0 1rem;
  padding: 0;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__button:hover {
  color: #574f00;
}

.btn {
  font: inherit;
  border: 1px solid #9acdc7;
  color: #9acdc7;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}


.btn:hover,
.btn:active {
  background-color: #9acdc7;
  color: white;
}

/* Styles for login form */
.login-block {
  width: 30%;
  min-width: 300px;
  height: 550px;
  margin: auto;
  background:#9acdc7;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0px 4px 8px 0px rgba(105, 142, 123, 0.2);
}

.login-block h2 {
  margin: 2rem auto;
  padding-top: 40px;
}

.login-form-control {
  width: 100%;
  margin: auto;
  padding: 15px 0;
  color: #574f00;
}

.login-form-control input {
  border: none;
  background:rgb(226, 245, 235);
  padding: 5px;
  outline: none;
  color:#574f00;
}

.login-form-control input::focus {
  outline: 2px solid rgb(105, 142, 123);
  background:rgb(226, 245, 235);
}